<nav id="breadcrumbs">
  <cluster-l role="list" justify="flex-start" space="var(--s-1)">
    <p>you are here: </p>
    {% if tags == "home" %}
      <div role="listitem" id="breadcrumb-home" aria-current="page"><a href="/">home</a></div>
    {% else%}
      <div role="listitem" id="breadcrumb-home"><a href="/">home</a></div>
    {% endif %}
    {%- for post in collections.all -%}
      {% if page.url == post.url %}
        {% if tags == "home" %}<!-- Do nothing -->
        {% else %}
        <div role="listitem">
          <a href="{{ post.url }}" id="breadcrumb-current" aria-current="page">{{ post.data.title }}</a>
        </div>
        {% endif %}
      {% endif %}
    {%- endfor -%}
  </cluster-l>
</nav>
