<footer role="contentinfo">
  <cluster-l justify="space-between" align="center">
    <cluster-l justify="flex-start">
      <p>Copyright &copy; 2024{{ helpers.currentYear() | safe }} Chris J. Zähller. All rights reserved.</p>
    </cluster-l>
    <nav id="nav-secondary">
      <cluster-l role="list" justify="flex-start" space="var(--s-1)">
      <div role="listitem"><a href="/contact">Contact</a></div>
      <div role="listitem"><a href="/legal/terms-of-use">Terms of Use</a></div>
      <div role="listitem"><a href="/legal/privacy">Privacy</a></div>
      </cluster-l>
    </nav>
  </cluster-l>
  {% set js %}
    <!-- Inline as many scripts as you like -->
    <!-- Capture the JS content as a Nunjucks variable -->
    {% include "elasticlunr.min.js" %}
    {% include "search.js" %}
    {% include "currentNav.js" %}
  {% endset %}
  <!-- Feed it through our Terser `jsmin` filter to minify -->
  <script>
    {{ js | jsmin | safe }}
  </script>
</footer>
