<footer role="contentinfo">
  <p>Copyright &copy; 2024{{ helpers.currentYear() | safe }} Chris J. Zähller. All rights reserved.</p>
  {% set js %}
    <!-- Inline as many scripts as you like -->
    <!-- Capture the JS content as a Nunjucks variable -->
    {% include "elasticlunr.min.js" %}
    {% include "search.js" %}
    <!-- Inline as many scripts as you like -->
  {% endset %}
  <!-- Feed it through our Terser `jsmin` filter to minify -->
  <script>
    {{ js | jsmin | safe }}
  </script>
</footer>
