<!-- axelinter:disable:button-name -->
<header id="header">
  <cluster-l justify="space-between" align="center" id="nav-primary-wrapper">
    <cluster-l justify="flex-start">
      <div id="tiki-mask-icon-wrapper">
        <a href="/"><span class="sr-only">Home</span>{% svgIcon "./_site/assets/images/icons/tiki-mask.svg" %}</a>
      </div>
      <form class="field" id="searchForm">
        <label for="searchField" class="sr-only">Search</label>
        <input type="search" id="searchField" required />
        <button type="button" id="searchClear" class="hide" aria-hidden value="×" aria-label="Clear search results">&times;</button>
        <a class="sr-only" href="#searchResultsHeading">Jump to search results</a>
        <div id="search-hint__wrapper">
          <kbd>⌘</kbd>
          <kbd>K</kbd>
        </div>
      </form>
    </cluster-l>
    <nav id="nav-primary" class="header-footer">
      <cluster-l role="list" justify="flex-start" space="var(--s-1)">
        <div role="listitem"><a href="/">Home</a></div>
        <div role="listitem"><a href="/recipes/">Recipes</a></div>
        <div role="listitem"><a href="/rums/">Rum Categories</a></div>
        <div role="listitem"><a href="/mixes/">Syrups &amp; Mixes</a></div>
        <theme-toggle>
          <button id="theme-toggle"></button>
        </theme-toggle>
      </cluster-l>
    </nav>
  </cluster-l>
</header>
