<!-- axelinter:disable:button-name -->
<header id="header">
  <cluster-l justify="space-between" align="center" id="nav-primary-wrapper">
    <cluster-l justify="flex-start">
      <div id="wagasa-umbrella-icon-wrapper">
        <a href="/"><span class="sr-only">Home</span>{% svgIcon "./_site/assets/images/icons/wagasa.svg" %}</a>
      </div>
      <div class="search" id="search"></div>
    </cluster-l>
    <cluster-l justify="flex-start" space="var(--s-1)">
      {% include "_nav-main.njk" %}
      <tiki-theme-toggle>
        <button id="theme-toggle"></button>
      </tiki-theme-toggle>
    </cluster-l>
  </cluster-l>
</header>
