<nav id="nav-primary" class="header-footer" aria-label="primary">
  <cluster-l role="list" justify="flex-start" space="var(--s-1)">
    <div role="listitem"><a href="/">Home</a></div>
    <div role="listitem"><a href="/recipes/">Recipes</a></div>
    <div role="listitem"><a href="/rums/">Rum Categories</a></div>
    <div role="listitem"><a href="/mixes/">Syrups &amp; Mixes</a></div>
    <div role="listitem"><a href="/appendix/">Appendix</a></div>
    <div role="listitem"><a href="/gallery/">Gallery</a></div>
  </cluster-l>
</nav>
