<!DOCTYPE html>
<html lang="en-us">
  {% include "_head.html" %}
  <body>
    <center-l max="125ch">
      <stack-l id="main-wrapper">
        {% include "_header.html" %}
        <sidebar-l sideWidth="20ch" space="var(--s2)" side="right">
          <sidebar-l sideWidth="40ch" space="var(--s2)">
            <div>
              <stack-l>
                <box-l id="searchResults-wrapper">
                  <section>
                    <h3>Search Results</h3>
                    <ol id="searchResults"></ol>
                    <div id="noResultsFound" hidden>
                      <p>No results found.</p>
                    </div>
                  </section>
                </box-l>
              </stack-l>
            </div>
              <!-- Grab the content from the page data, dump it here, and mark it as safe -->
              <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->
              {{ content | safe }}
          </sidebar-l>
          <section id="sidebar-right">
            {% include "_sideBarLeft.html" %}

          </section>
        </sidebar-l>
        {% include "_footer.html" %}
      </stack-l>
    </center-l>
  </body>
</html>
