/**
 * 1. Footnotes
 * 2. Icons
 * 3. Linked heading styles
 */

/* Footnotes */
[aria-describedby='footnotes-label'] {
  text-decoration: none;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

[href^='#fnref:'],
.footnote-backref {
  text-decoration: none;
  break-before:avoid;
}

.footnotes-list {
  p:not(:last-child),
  li {
    margin-block-end: var(--s1);
  }
}

/* Icons */
.icon {
  width: 1cap;
  height: 1cap;
}

.with-icon {
  display: inline-flex;
  align-items: baseline;
}

.with-icon .icon {
  margin-inline-start: .5ch;
}

/* Permalinks */
h2,
h3,
h4,
h5,
h6 {
  &:has(.header-anchor) {
    a {
      text-decoration: none;

      &:after {
        display: inline-block;
        inline-size: 0.8em;
        margin-inline-start: 0.5ch;
        vertical-align: baseline;
        content: "#" / "";
      }
    }

    a:not(:hover):not(:focus-visible):not(:active) {
      &:after {
        position: absolute;
        inline-size: 1px;
        block-size: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);

        white-space: nowrap;

        border-width: 0;
      }
    }
  }
}

.index-anchor {
  text-decoration: none;

  &:after {
    display: inline-block;
    inline-size: 0.8em;
    margin-inline-start: 0.5ch;
    vertical-align: baseline;
    content: "#" / "";
  }

  &:not(:hover):not(:focus-visible):not(:active) {
    &:after {
      position: absolute;
      inline-size: 1px;
      block-size: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);

      white-space: nowrap;

      border-width: 0;
    }
  }
}
