/* See main stylesheet for masonry layout */

:root {
  /* Set fade in duration */
  --fade-time: 0.5s;
}

dialog-gallery {
  img {
    cursor: pointer;
  }
}

dialog.gallery-modal {
  /* Variables for animation;
  see https://www.oidaisdes.org/native-dialog-and-popover.en/ */
  --duration: 150ms;
  --start-opacity: 0.5;

  @media screen and (prefers-reduced-motion: no-preference) {
    --start-scale: scale(0.8);
  }

  pointer-events: none;
  margin: auto;
  background-color: var(--11ty-color-textSecondary);
  border: solid var(--border-thin) var(--11ty-color-textPrimary);
  border-radius: var(--tiki-radius-2x);

  /* Don't use logical property on image */
  width: clamp(320px, calc(66vw + var(--s3)), calc(100vw - 2em - 6px));

  /* End values for fade out. */
  opacity: var(--start-opacity);
  transform: var(--start-scale);
  transition:
    opacity var(--duration) ease-out,
    transform var(--duration) cubic-bezier(0, 0, 0.2, 1),
    overlay var(--duration) allow-discrete,
    display var(--duration) allow-discrete;

  &::backdrop {
    background-color: var(--tiki-modal-background-color);
    backdrop-filter: blur(4px);
    /* End value for fade out. */
    opacity: 0;
    transition: opacity var(--duration),
      overlay var(--duration) allow-discrete,
      display var(--duration) allow-discrete;
  }

  &[open] {
    pointer-events: inherit;
    /* End values for fade in; start values for fade out. */
    opacity: 1;
    transform: scale(1);

    @starting-style {
      /* Start values vor fade in. */
      opacity: var(--start-opacity);
      transform: var(--start-scale);
    }

    &::backdrop {
      /* End value for fade in; start value for fade out. */
      opacity: 1;
    }
  }

  img {

    &.current {
      filter: grayscale(.9);
      opacity: .66;
      outline:  var(--11ty-color-secondary-300) dotted var(--s-5);

    }

    &:focus-visible {
      outline: var(--11ty-color-secondary-300) solid var(--s-5);
    }
  }



  .gallery--img_main .gallery--thumbs,
  .gallery--thumbs img {
    width: 100%;
  }

  .gallery--thumbs {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: var(--s-2);
  }

  .gallery--thumbs img {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  /* Fade in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
  }

  /* Media Queries */
  @media(max-width: 600px) {
    .gallery--thumbs {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .gallery--button-container {
    display: flex;
    justify-content: center;
    align-content: space-around;
  }
}

/* This starting-style rule cannot be nested inside the above selector because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  dialog.image-modal[open]::backdrop {
    /* Start value for fade in. */
    opacity: 0;
  }
}
