
dialog-image {

  figure,
  picture,
  figcaption {
    color: var(--11ty-color-textPrimary);
    cursor: default;

    img {
      cursor: pointer;
    }
  }
}

dialog.image-modal {
  margin: auto; /* Center the modal */
  background-color: var(--11ty-color-textSecondary);
  border: solid var(--border-thin) var(--11ty-color-textPrimary);
  border-radius: var(--tiki-radius-2x);

  width: clamp(320px, calc(50% + var(--s3)), calc(100% - 2em - 6px)); /* Don't use logical property on image */

  &::backdrop {
    background-color: var(--tiki-modal-background-color);
    backdrop-filter: blur(4px);
  }
}
