@import "https://unpkg.com/open-props/easings.min.css";

:root {

  --11ty-size-textDefault: 1.5em;

  --11ty-color-primary-50:  oklch(95% 0.012 0.012);
  --11ty-color-primary-100: oklch(90% 0.012 0.012);
  --11ty-color-primary-200: oklch(80% 0.012 0.012);
  --11ty-color-primary-300: oklch(70% 0.012 0.012);
  --11ty-color-primary-400: oklch(60% 0.012 0.012);
  --11ty-color-primary-500: oklch(50% 0.012 0.012);
  --11ty-color-primary-600: oklch(40% 0.012 0.012);
  --11ty-color-primary-700: oklch(30% 0.012 0.012);
  --11ty-color-primary-800: oklch(20% 0.012 0.012);
  --11ty-color-primary-900: oklch(10% 0.012 0.012); /* Default */

  --11ty-color-secondary-50:  oklch(95% 0.1912 131.82);
  --11ty-color-secondary-100: oklch(90% 0.1912 131.82);
  --11ty-color-secondary-200: oklch(80% 0.1912 131.82);
  --11ty-color-secondary-300: oklch(70% 0.1912 131.82);
  --11ty-color-secondary-400: oklch(60% 0.1912 131.82);
  --11ty-color-secondary-500: oklch(50% 0.1912 131.82);
  --11ty-color-secondary-600: oklch(40% 0.1912 131.82);
  --11ty-color-secondary-700: oklch(30% 0.1912 131.82);
  --11ty-color-secondary-800: oklch(20% 0.1912 131.82);
  --11ty-color-secondary-900: oklch(10% 0.1912 131.82);

  --11ty-color-textPrimary: var(--11ty-color-primary-900);
  --11ty-color-textSecondary: var(--11ty-color-primary-50);

  --11ty-color-hoverPrimary: var(--11ty-color-primary-800);
  --11ty-color-hoverSecondary: var(--11ty-color-primary-100);

  --11ty-color-iconFillHover: var(--11ty-color-primary-900);

  --11ty-color-figureBG: oklch(97.5% 0 0 / .5);

  --tiki-alert-color-lightness: 95%;
  --tiki-alert-color-chroma: 0.1;

  --tiki-alert-color-background:
    oklch(
      var(--tiki-alert-color-lightness)
      .015
      221.42
    );
  --tiki-alert-color-tip-background:
    oklch(
      var(--tiki-alert-color-lightness)
      var(--tiki-alert-color-chroma)
      145.36
    );
  --tiki-alert-color-info-background:
    oklch(
      var(--tiki-alert-color-lightness)
      var(--tiki-alert-color-chroma)
      221.42
    );
  --tiki-alert-color-warning-background:
    oklch(
      var(--tiki-alert-color-lightness)
      var(--tiki-alert-color-chroma)
      89.21
    );
  --tiki-alert-color-danger-background:
    oklch(
      var(--tiki-alert-color-lightness)
      var(--tiki-alert-color-chroma)
      19.75
    );

  --tiki-alert-border-color: color-mix(in srgb, var(--tiki-alert-color-background) 75%, #000);
  --tiki-alert-tip-border-color: color-mix(in srgb, var(--tiki-alert-color-tip-background) 75%, #000);
  --tiki-alert-info-border-color: color-mix(in srgb, var(--tiki-alert-color-info-background) 75%, #000);
  --tiki-alert-warning-border-color: color-mix(in srgb, var(--tiki-alert-color-warning-background) 75%, #000);
  --tiki-alert-danger-border-color: color-mix(in srgb, var(--tiki-alert-color-danger-background) 75%, #000);

  --tiki-alert-border: .325em;
  --tiki-radius-1x: .2em;
  --tiki-radius-2x: .4em;

  --tiki-navbar-search-input-background-color: var(--11ty-color-primary-100);

  --tiki-global-shadow: oklch(0% 0 0 / 10.2%);

  &[data-theme='dark'] {
    --11ty-color-primary-50:  oklch(10% 0.012 0.012);
    --11ty-color-primary-100: oklch(20% 0.012 0.012);
    --11ty-color-primary-200: oklch(30% 0.012 0.012);
    --11ty-color-primary-300: oklch(40% 0.012 0.012);
    --11ty-color-primary-400: oklch(50% 0.012 0.012);
    --11ty-color-primary-500: oklch(60% 0.012 0.012);
    --11ty-color-primary-600: oklch(70% 0.012 0.012);
    --11ty-color-primary-700: oklch(80% 0.012 0.012);
    --11ty-color-primary-800: oklch(90% 0.012 0.012);
    --11ty-color-primary-900: oklch(95% 0.012 0.012); /* Default */

    --11ty-color-iconFillHover: #fff;
    --11ty-color-figureBG: oklch(17.5% 0.012 0.012 / .5); /* 900 */

    --tiki-alert-color-lightness: 30%;
  }

  --ratio: 1.4;
  --s-5: clamp(0.33rem,0.39rem + -0.29vw,0.18rem);
  --s-4: clamp(0.41rem,0.47rem + -0.31vw,0.25rem);
  --s-3: clamp(0.51rem,0.57rem + -0.31vw,0.35rem);
  --s-2: clamp(0.64rem,0.69rem + -0.27vw,0.5rem);
  --s-1: clamp(0.8rem,0.84rem + -0.18vw,0.71rem);
  --s0: clamp(1rem,1rem + 0vw,1rem);
  --s1: clamp(1.25rem,1.19rem + 0.32vw,1.41rem);
  --s2: clamp(1.56rem,1.39rem + 0.85vw,2rem);
  --s3: clamp(1.95rem,1.61rem + 1.7vw,2.83rem);
  --s4: clamp(2.44rem,1.83rem + 3.04vw,4rem);
  --s5: clamp(3.05rem,2.04rem + 5.07vw,5.65rem);
  --measure: 65ch;
  --line-height: var(--ratio);
  --line-height-small: calc(0.8*var(--ratio));
  --border-thin: var(--s-5);
  --border-thick: var(--s-2);

  --tiki-font-default: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  --tiki-font-sans: system-ui, sans-serif;
  --tiki-font-mono: ui-monospace, Cousine, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

  --tiki-font-size-factor: .75;

  /* Step -2: 14.0537px → 18.963px */
  --tiki-font-size--2: calc(var(--tiki-font-size-factor) * clamp(0.8784rem, 0.7716rem + 0.5336cqi, 1.1852rem));
  /* Step -1: 14.9953px → 21.3333px */
  --tiki-font-size--1: calc(var(--tiki-font-size-factor) *  clamp(0.9372rem, 0.7994rem + 0.6889cqi, 1.3333rem));
  /* Step 0: 16px → 24px */
  --tiki-font-size-0: calc(var(--tiki-font-size-factor) *  clamp(1rem, 0.8261rem + 0.8696cqi, 1.5rem));
  /* Step 1: 17.072px → 27px */
  --tiki-font-size-1: calc(var(--tiki-font-size-factor) *  clamp(1.067rem, 0.8512rem + 1.0791cqi, 1.6875rem));
  /* Step 2: 18.2158px → 30.375px */
  --tiki-font-size-2: calc(var(--tiki-font-size-factor) *  clamp(1.1385rem, 0.8742rem + 1.3216cqi, 1.8984rem));
  /* Step 3: 19.4363px → 34.1719px */
  --tiki-font-size-3: calc(var(--tiki-font-size-factor) *  clamp(1.2148rem, 0.8944rem + 1.6017cqi, 2.1357rem));
  /* Step 4: 20.7385px → 38.4434px */
  --tiki-font-size-4: calc(var(--tiki-font-size-factor) *  clamp(1.2962rem, 0.9113rem + 1.9244cqi, 2.4027rem));
  /* Step 5: 22.128px → 43.2488px */
  --tiki-font-size-5: calc(var(--tiki-font-size-factor) * clamp(1.383rem, 0.9239rem + 2.2957cqi, 2.703rem));

}

@media (prefers-reduced-motion) {
  html {
    transition: background-color 0s ease, color 0s ease;
  }
}

html {
  background: var(--11ty-color-primary-200) no-repeat center;
  background-size: cover;
  color: var(--11ty-color-textPrimary);
  transition: background-color 0.5s ease, color 0.5s ease;

  font-family: var(--tiki-font-default);
  font-size: var(--11ty-size-textDefault);

  padding-block: var(--s1);
}

[hidden] {
  display: none !important;
}

body {
  padding-inline: 1ch;
}

header {
  padding-block-end: var(--s1);
  border-block-end: 1px solid var(--11ty-color-textPrimary);
}

nav,
.index,
button,
label {
  font-family: var(--tiki-font-sans);

  & a {
    text-decoration: none;
  }
}

label span {
  color: crimson;
  font-size: 2em;
  line-height: 1;
  vertical-align: text-top;
}

input, textarea {
  color: var(--11ty-color-textPrimary);
  background-color: var(--11ty-color-textSecondary);
  border: solid 2px var(--11ty-color-textPrimary);
  font-family: var(--tiki-font-mono);
}

input,
textarea,
button {
  border-radius: var(--tiki-radius-1x);
}

textarea {
  padding: var(--s0);
}

[aria-describedby='footnotes-label'] {
  text-decoration: none;

  &::before {
    content: '[';
  }

  &::after {
    content: ']';
  }
}

[href^="#fnref:"] {
  text-decoration: none;
}

button,
.button {
  appearance: none;
  -webkit-appearance: none;
  inline-size: fit-content;
  border: solid 2px transparent;
  text-transform: lowercase;
  font-variant: small-caps;
  padding-inline: var(--s0);
  padding-block: var(--s-4);

  &.button-primary {
    color: var(--11ty-color-textSecondary);
    background-color: var(--11ty-color-textPrimary);

    &:hover,
    &:active {
      background-color: var(--11ty-color-hoverPrimary);
    }
  }

  &.button-secondary {
    color: var(--11ty-color-textPrimary);
    background-color: var(--11ty-color-textSecondary);
    border-color: var(--11ty-color-textPrimary);

    &:hover,
    &:active {
      background-color: var(--11ty-color-hoverSecondary);
    }
  }
}

.index {
  li {
    list-style-type: none;
    margin-block-end: var(--s-1);
    line-height: calc(1em + .25rem);
  }
}

a[href^='http://']:not([href*='tiki-db.vercel.app']):not([href*='localhost']):after,
a[href^='https://']:not([href*='tiki-db.vercel.app']):not([href*='localhost']):after {
  display: inline-block;
  margin-inline-start: .5ch;
  inline-size: 1ch;
  block-size: 1lh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--tiki-font-sans);
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--tiki-font-size-5);
}

h1 {
  font-size: var(--tiki-font-size-5);
}

h2 {
  font-size: var(--tiki-font-size-4);
}

h3 {
  font-size: var(--tiki-font-size-3);
}

h4 {
  font-size: var(--tiki-font-size-2);
}

h5 {
  font-size: var(--tiki-font-size-1);
}

h6 {
  font-size: var(--tiki-font-size-0);
}

p {
  text-wrap: pretty;

  &:empty {
    margin-block-start: 0;
  }
}

sub, sup {
  line-height: 1;
}

.frac sup,
.frac sub {
  font-size: .55rem;
}

.frac sub {
  display: inline-block;
  position: relative;
  inset-inline-start: -.1rem;
  inset-block-start: -.2rem;
}


blockquote {
  margin-inline: 2.5rem;
}

.small-caps {
  font-variant: small-caps;
}


/*** Lists ***/

dl {
  margin-block-start: 0;
}

dt {
  font-family: var(--tiki-font-sans);
  line-height: 1.1;
  text-wrap: balance;
}

dt,
dd,
.no-break {
  break-inside: avoid;
}

dt {
  break-after: avoid;
  margin-inline-start: var(--s1);
  font-size: var(--tiki-font-size-1);
  font-weight: 700;

  &:not(:first-child) {
    margin-block-start:  var(--s1);

    &.margin-hack {
      margin-block-start: 0;
    }
  }

  &+dt:not(:first-child) {
    margin-block-start: 0;
  }

  &.no-break {
    break-before: avoid;
  }

  & p:last-of-type {
    margin-block-end: 0;
  }
}

dd {
  margin-inline-start: var(--s3);

  &:last-of-type {
    margin-block-end: var(--s1);
  }

  &+dd {
    break-before: avoid;
  }

  & p:last-of-type {
    margin-block-end: 0;
  }
}

[data-i="Stack-var(--s1)false"] > dd.margin-hack {
  margin-block-end: 0;
}

[data-i="Stack-var(--s1)false"] > dd+br {
  margin-block-start: 0;
}

#ingredients + ul li::marker {
    content: '';
}

figure {
  margin: 0;
  padding-block: 1em;
  padding-inline: 40px;
  background-color: var(--11ty-color-figureBG);
}

picture {
  margin-block-end: var(--s-1);
}

img {
  margin-inline: auto;
  object-fit: cover;
}

img[width][height] {
  block-size: auto; /* Preserve aspect ratio */
}

img[src$='.svg'] { /* Let SVG scale without boundaries */
  inline-size: 100%;
  block-size: auto;
  max-inline-size: none;
}

caption, figcaption {
  font-style: italic;
  font-size: smaller;
}

blockquote {
  text-indent: -0.45em;
}

@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first allow-end last;
  }
}

a, a:visited {
  color: var(--11ty-color-textPrimary);
}

kbd {
  background-color: var(--11ty-color-textSecondary);
  border: 1px solid var(--11ty-color-textPrimary);
  border-radius: var(--tiki-radius-1x);
  box-shadow: inset 0 -1px 0 var(--11ty-color-textPrimary);
  color: var(--11ty-color-textPrimary);
  font: 80% monospace;
  padding: .15rem .3rem;
}

icon-l {
  break-before: avoid;
  break-after: avoid;

  &::before,
  &::after {
    content: '\FEFF';
  }
}

svg:not(#tiki-mask-icon),
svg:not(#tiki-mask-icon)  path {
  fill: var(--11ty-color-textPrimary);
}

.alignleft {
  text-align: start;
}

.alignright {
  text-align:end
}

.aligncenter {
  text-align: center;
}

.col-2,
.col-3,
.col-4,
.col-5 {
  columns: 1;
  column-gap: var(--s-1);
}

div.col-2,
div.col-3,
div.col-4,
div.col-5 {
  margin-block-end: var(--s-1);
}

@media screen and (min-width: 62.25rem) {
  .col-2 {
    columns: 2;
  }

  .col-3 {
    columns: 3;
  }

  .col-4 {
    columns: 4;
  }

  .col-5 {
    columns: 5;
  }
}

.sr-only:not(:focus):not(:active),
.govuk-visually-hidden {
	position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@keyframes fadeout {
  from { display: block; max-height: 10vh;}
  to { opacity: 0; max-height: 0;}
}

@keyframes fadein {
  from { opacity: 0; max-height: 0 }
  to { opacity: 1; max-height: 10vh;}
}

@media (prefers-reduced-motion: no-preference) {
  .hide,
  #search-hint__wrapper.hide {
    animation: fadeout 200ms ease-out;
    display: none;
  }
  .show {
    display: block;
    animation: fadein 200ms ease-in;
  }
}


@media (prefers-reduced-motion) {
  .hide,
  #search-hint__wrapper.hide {
    display: none;
  }
  .show {
    display: block
  }
}

:focus-visible {
  outline: var(--11ty-color-secondary-300) auto 1px;
}

.tb-green {
  fill: var(--11ty-color-secondary-200);
}

/**
  * Theme toggle based on
  * https://web.dev/articles/building/a-theme-switch-component
  */

#theme-toggle {
  --size: 1rem;
  --min-size: 24px; /* Minimum WCAG target size */
  --margin-top: .2em;

  @media screen and (pointer: coarse) {
    --size: 1.5rem;
    --margin-top: unset;
  }

  background: none;
  border: none;
  padding: 0;
  margin-block-start: var(--margin-top);

  inline-size: var(--size);
  block-size: var(--size);
  min-inline-size: var(--min-size);
  min-block-size: var(--min-size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  outline-offset: 5px;

  > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }

  > :is(:hover,:focus-visible) > .sun-and-moon > :is(.moon,.sun) {
	  fill: var(--11ty-color-iconFillHover);
  }

  :is(:hover,:focus-visible) .sun-and-moon>.sun-beams {
    stroke: var(--11ty-color-iconFillHover);
  }
}

.sun-and-moon {

  > :is(.moon,.sun,.sun-beams) {
    transform-origin: center center;
  }

  > :is(.moon,.sun) {
    fill: var(--11ty-color-textPrimary);
  }

  > .sun-beams {
    stroke: var(--11ty-color-textPrimary);
    stroke-width: 2px;
  }
}

[data-theme='dark'] .sun-and-moon {
  > .sun {
    transform: scale(1.75);
  }

  > .sun-beams {
    opacity: 0;
  }

  > .moon>circle {
		/* TODO: use cx: 17 once Safari supports it */
    transform: translate(-7px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon {
    > .sun {
      transition: transform .5s var(--ease-elastic-3) .5s;
    }

    > .sun-beams {
      transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3) .5s;
    }

    .moon > circle {
      transition: cx .25s var(--ease-out-5) .5s;
    }
  }

  [data-theme='dark'] .sun-and-moon {
    > .sun {
      transition: transform .25s var(--ease-out-5) .5s;
    }

    > .sun-beams {
      transform: rotate(-25deg);
      transition-duration: .15s;
    }

    > .moon > circle {
      transition-delay: .25s;
      transition-duration: .5s;
    }
  }
}

/* End theme toggle */

/* Search */

#searchField {
  appearance: none;
  -webkit-appearance: none;
  color: var(--11ty-color-textPrimary);
  background-color: var(--tiki-navbar-search-input-background-color);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: .5em center;

  &:focus,
  &:active,
  &:valid {
    background-image: none!important;
  }
}

.field {
  position: relative;
}

#search-hint__wrapper {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: right;
  pointer-events: none;
  position: absolute;
  left: 185px;
  top: 7px;

  & kbd {
    background-color: var(--11ty-color-textPrimary);
    border: 1px solid var(--11ty-color-textSecondary);
    border-radius: var(--tiki-radius-1x);
    box-shadow: inset 0 -1px 0 var(--11ty-color-textSecondary);
    color: var(--11ty-color-textSecondary);
    font: 80% monospace;
    padding: .15rem .3rem;
  }
}

@media screen and (pointer:fine) {
  #search-hint__wrapper {
    left: 210px;
  }
}

#searchClose {
  max-inline-size: 13ch;
}

.search-item {

  & a {
    font-weight: 700;
    text-decoration: none;
  }

  & svg {
    display: inline-block;
    vertical-align: middle;
    margin-inline: .5ch;
  }

  & .search-list-nested {
    padding-inline-start: 0;
    margin-inline-start: -.5ch;
    list-style: none;
  }
}

#searchResults-wrapper {
  margin-block-end: var(--s3);

  & box-l {
    position: absolute;
    z-index: 99;
    background-color: var(--11ty-color-primary-100);
  }

  & li {
    max-inline-size: 32ch;
  }
}

/* Recipe index */

.recipe-index {
  li a {
    text-decoration: none;
  }
}

/* Footnotes */

.govuk-section-break {
  margin-block-end: var(--s1);
}

.govuk-body {
  break-inside: avoid;
}

.govuk-link {
  break-before:avoid;
}

/* Admonitions (callouts) */

.admonition {
  background-color: var(--tiki-alert-color-background);
  border: 0 solid var(--tiki-alert-border-color);
  border-left-width: var(--tiki-alert-border);
  border-radius: var(--tiki-radius-2x);
  box-shadow: var(--tiki-global-shadow);
  padding: var(--s1) var(--s2);
}

.admonition.tip {
  background-color: var(--tiki-alert-color-tip-background);
  border-color: var(--tiki-alert-tip-border-color);
}

.admonition.info {
  background-color: var(--tiki-alert-color-info-background);
  border-color: var(--tiki-alert-info-border-color);
}

.admonition.warning {
  background-color: var(--tiki-alert-color-warning-background);
  border-color: var(--tiki-alert-warning-border-color);
}

.admonition.danger {
  background-color: var(--tiki-alert-color-danger-background);
  border-color: var(--tiki-alert-danger-border-color);
}

.admonition-heading {
  font-family: var(--tiki-font-sans);
  font-weight: 700;
  text-transform: uppercase;
}

.admonition-icon svg {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  margin-inline-end: .5ch;
  vertical-align: bottom;
}

/* Icons */

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
}

.with-icon {
  display: inline-flex;
  align-items: baseline;
}

.with-icon .icon {
  margin-inline-start: .5ch;
}
